# Docker volumes
**/data/

# MongoDB data
**/mongodb_data/

# Logs
*.log

# Build
target/
candidate-service-application/target
candidate-service-domain/target
candidate-service-infra/target
candidate-service-start/target
candidate-service-interface/target
.mvn